<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8">
        <% unless SOUNDING_ALARM.nil? %>
          <%= button_to 'Stop Alarm', { controller: 'sounding_alarm', action: 'shutdown', method: 'post'}, { :class => 'btn btn-danger' } %>
        <% end %>
  		</div>
  		<div class="col-sm-4">
  			<ul class="nav navbar-nav navbar-right">
  				<li><%= link_to 'Alarms', alarms_path %></li>
  				<li><%= link_to 'Playlists', playlists_path %></li>
  			</ul>
  		</div>
  	</div>
  </div>
</header>
<br/>